// Grid "engine" library
// Note! Must be imported after the _flexbox library

// Implementing the no-breakpoints principle
body { font-size: 1em; }

// Variables
$grid-size: 12;
$column-width: 60;
$gutter-width: 20;
$page-width: 960;

$column-width-em: $column-width / 16 * 1em;
$gutter-width-em: $gutter-width / 16 * 1em;
$page-width-em: $page-width / 16 * 1em;

// The Grid Loop - what makes it all tick-tack //
@while $grid-size > 0 {
    .gwd_#{ $grid-size } {
	width: $grid-size * ($column-width-em + $gutter-width-em) -  ($gutter-width-em);
	padding: $column-width-em / 100 0;
	background-color: lighten(#aaa, $grid-size % 400 * 2.29554%);
    }
    $grid-size: $grid-size - 1 !global;
}

// Main container for the grid.
body.flex-grid{
    @include flex-display(flex);
    @include flex-wrap(wrap);
}

// Rows are placed inside the grid.
.flex-row {
    @include flex-display(inline-flex);
    width: $page-width-em;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

// Columns are placed in the rows
.flex-col {
    @include flex();
    margin: 2px ( $gutter-width-em / 2 );
    overflow: hidden;
    text-align: center;
}

