/* The Grid Loop */
.grid_1 {
  width: 6%;
  -webkit-flex: initial;
  -moz-flex: initial;
  -ms-flex: initial;
  flex: initial; }

.grid_2 {
  width: 14.0%;
  -webkit-flex: initial;
  -moz-flex: initial;
  -ms-flex: initial;
  flex: initial; }

.grid_3 {
  width: 22%;
  -webkit-flex: initial;
  -moz-flex: initial;
  -ms-flex: initial;
  flex: initial; }

.grid_4 {
  width: 30%;
  -webkit-flex: initial;
  -moz-flex: initial;
  -ms-flex: initial;
  flex: initial; }

.grid_5 {
  width: 38%;
  -webkit-flex: initial;
  -moz-flex: initial;
  -ms-flex: initial;
  flex: initial; }

.grid_6 {
  width: 46%;
  -webkit-flex: initial;
  -moz-flex: initial;
  -ms-flex: initial;
  flex: initial; }

.grid_7 {
  width: 54%;
  -webkit-flex: initial;
  -moz-flex: initial;
  -ms-flex: initial;
  flex: initial; }

.grid_8 {
  width: 62%;
  -webkit-flex: initial;
  -moz-flex: initial;
  -ms-flex: initial;
  flex: initial; }

.grid_9 {
  width: 70%;
  -webkit-flex: initial;
  -moz-flex: initial;
  -ms-flex: initial;
  flex: initial; }

.grid_10 {
  width: 78%;
  -webkit-flex: initial;
  -moz-flex: initial;
  -ms-flex: initial;
  flex: initial; }

.grid_11 {
  width: 86%;
  -webkit-flex: initial;
  -moz-flex: initial;
  -ms-flex: initial;
  flex: initial; }

.grid_12 {
  width: 94%;
  -webkit-flex: initial;
  -moz-flex: initial;
  -ms-flex: initial;
  flex: initial; }

body {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex: initial;
  -moz-flex: initial;
  -ms-flex: initial;
  flex: initial;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around; }

.column {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  float: left;
  margin: 0 10px;
  overflow: hidden;
  display: inline;
  border: 1px solid gray;
  border-radius: 1px; }

.row {
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-content: space-around;
  -moz-align-content: space-around;
  -ms-align-content: space-around;
  align-content: space-around;
  width: 1000px;
  margin: 0 auto;
  overflow: hidden; }
