/*
 *      The SCSS Flex Grid
 *
 * This compact flexible grid will empower you with an easy implemented system
 * allowing you to create and maintain layouts for webdesign in a snap.
 *      
 * Author:          Nicolaj Nyvang
 * URL:             https://github.com/nyvang
 * 
 * Plugin URL:      https://github.com/nyvang/sass-flex-grid
 * License:         See LICENSE.txt or GPL-3.0 at http://www.gnu.org/licenses/
*/
body {
  font-size: 1em; }

.gwd_12 {
  width: 58.75em;
  padding: 0.0375em 0;
  background-color: #f0f0f0; }

.gwd_11 {
  width: 53.75em;
  padding: 0.0375em 0;
  background-color: #eaeaea; }

.gwd_10 {
  width: 48.75em;
  padding: 0.0375em 0;
  background-color: #e5e5e5; }

.gwd_9 {
  width: 43.75em;
  padding: 0.0375em 0;
  background-color: #dfdfdf; }

.gwd_8 {
  width: 38.75em;
  padding: 0.0375em 0;
  background-color: #d9d9d9; }

.gwd_7 {
  width: 33.75em;
  padding: 0.0375em 0;
  background-color: lightgray; }

.gwd_6 {
  width: 28.75em;
  padding: 0.0375em 0;
  background-color: #cdcdcd; }

.gwd_5 {
  width: 23.75em;
  padding: 0.0375em 0;
  background-color: #c7c7c7; }

.gwd_4 {
  width: 18.75em;
  padding: 0.0375em 0;
  background-color: #c1c1c1; }

.gwd_3 {
  width: 13.75em;
  padding: 0.0375em 0;
  background-color: #bcbcbc; }

.gwd_2 {
  width: 8.75em;
  padding: 0.0375em 0;
  background-color: #b6b6b6; }

.gwd_1 {
  width: 3.75em;
  padding: 0.0375em 0;
  background-color: #b0b0b0; }

body.flex-grid {
  display: -webkit-flex !important;
  display: -moz-flex !important;
  display: -ms-flex !important;
  display: flex !important;
  -webkit-flex-wrap: wrap !important;
  -moz-flex-wrap: wrap !important;
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important; }

.flex-row {
  display: -webkit-inline-flex !important;
  display: -moz-inline-flex !important;
  display: -ms-inline-flex !important;
  display: inline-flex !important;
  width: 60em;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden; }

.flex-col {
  -webkit-flex: auto !important;
  -moz-flex: auto !important;
  -ms-flex: auto !important;
  flex: auto !important;
  margin: 2px 0.625em;
  overflow: hidden;
  text-align: center; }
